[Desktop Entry]
Type=Application
Name=logman
Comment=GUI SSH terminal
Exec=logman
Icon=logman
Terminal=false
Categories=Network;TerminalEmulator;
StartupWMClass=logman
